/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

// Стилизация header`а

.navigation {
    font-family: 'Noto Sans', sans-serif;
    font-size: 28px;
    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 40px 0;
    }
    &__logo {
        :hover  {
            text-decoration: underline;
            // color: #F72464;
        }
    }
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        li {
            :hover  {
                color: #F72464;
            }
            margin: 0px 15px;
        }
        li:first-child {
            margin-left: 0px;
        }
        li:last-child {
            margin-right: 0px;
        }
    }
    &__item {
        font-size: 18px;
    }
    &__cart {
        width: 34px;
        height: 34px;
        img {
            display: block;
            max-width: 100%;
        }
    }
    &__cart-link {
        display: block;
        position: relative;
        padding: 5px;
    }
    &__cart-counter {
        position: absolute;
        width: 20px;
        height: 20px;
        top: -5px;
        right: -2px;
        background: #F72464;
        border-radius: 50%;
        color: #FFFFFF;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        font-weight: bold;

    }
}
.container {
    width: 1170px;
    margin: 0 auto;
}