@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.none {
  display: none;
}

.navigation {
  font-family: "Noto Sans", sans-serif;
  font-size: 28px;
}
.navigation__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
@media (min-width: 992px) {
  .navigation__row {
    padding: 40px 0;
  }
}
.navigation__logo {
  margin-right: 15px;
}
.navigation__logo :hover {
  text-decoration: underline;
}
@media (min-width: 992px) {
  .navigation__logo {
    margin-right: 83px;
  }
}
.navigation__menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(247, 36, 99, 0.5019607843);
  transition: opacity 0.2s ease-in;
  z-index: 10;
}
.navigation__menu_active {
  display: block;
}
.navigation__menu_active .navigation__list {
  transform: translateX(0%);
}
@media (min-width: 992px) {
  .navigation__menu {
    display: block;
    opacity: 1;
    position: static;
    background-color: transparent;
  }
}
.navigation__list {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  background-color: #000;
  color: #FFFFFF;
  z-index: 5;
}
.navigation__list li {
  margin: 0px 15px;
}
.navigation__list li :hover {
  color: #F72464;
}
@media (min-width: 992px) {
  .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background-color: transparent;
    color: #000;
    transform: none;
  }
  .navigation__list li:first-child {
    margin-left: 0px;
  }
  .navigation__list li:last-child {
    margin-right: 0px;
  }
}
.navigation__link {
  color: inherit;
  display: block;
  padding: 15px;
  border-bottom: 1px solid rgb(166, 156, 156);
}
@media (min-width: 992px) {
  .navigation__link {
    border-bottom: none;
    padding: 0;
  }
}
.navigation__item {
  font-size: 18px;
}
.navigation__cart {
  width: 34px;
  height: 34px;
  margin-left: auto;
  margin-right: 35px;
}
@media (min-width: 992px) {
  .navigation__cart {
    margin-right: 0;
  }
}
.navigation__cart img {
  display: block;
  max-width: 100%;
}
.navigation__cart-link {
  display: inline-block;
  position: relative;
  padding: 5px;
}
.navigation__cart-counter {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -5px;
  right: -2px;
  background: #F72464;
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
}

/* </menu-burger> */
.menu-icon-wrapper {
  /*   background: red; */
  position: relative;
  z-index: 15;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .menu-icon-wrapper {
    display: none;
  }
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #000000;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #000000;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #000000;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/*</menu-burger> */
.header__row {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 540px) {
  .header__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
  }
}
.header__content {
  background-color: rgba(247, 36, 99, 0.3333333333);
  padding: 10px;
}
@media (min-width: 540px) {
  .header__content {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    max-width: 55%;
    transform: translateY(-50%);
    padding: 15px;
  }
}
@media (min-width: 992px) {
  .header__content {
    max-width: 670px;
    padding: 20px;
  }
}
.header__image {
  margin-bottom: 15px;
}
.header__image img {
  display: block;
  max-width: 100%;
}
@media (min-width: 540px) {
  .header__image {
    display: block;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .header__image {
    max-width: 100%;
  }
}
.header__title {
  font-family: "Playfair Display", sans-serif;
  font-size: 32px;
  line-height: 133.3333333333%;
}
@media (min-width: 992px) {
  .header__title {
    font-size: 72px;
  }
}
.header__description {
  max-width: 600px;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 150%;
  text-align: left;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .header__description {
    font-size: 22px;
    margin-bottom: 65px;
  }
}
.button {
  display: block;
  max-width: 181px;
  border-radius: 4px;
  padding: 0.53846em 1.2307em 0.53846em;
  background-color: #F72464;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  color: #FFFFFF;
  font-family: "Playfair Display", sans-serif;
  font-size: 20px;
  margin: 0 auto;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  transition: box-shadow 0.2s ease-in;
}
@media (min-width: 540px) {
  .button {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .button {
    font-size: 26px;
  }
}

a.button:hover {
  box-shadow: 0px 4px 25px rgba(184, 13, 64, 0.671);
  background: #ff3874;
}

.section-header {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .section-header {
    margin-bottom: 40px;
  }
}
.section-header__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Playfair Display", sans-serif;
  font-size: 32px;
  line-height: 1.3;
  text-align: center;
}
.section-header__title h2 {
  color: #000000;
}
@media (min-width: 992px) {
  .section-header__title {
    font-size: 42px;
  }
}
.section-header__description {
  margin: 0 auto;
  max-width: 630px;
  margin-top: 10px;
  color: #999999;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
}

/*New Products*/
.section-new {
  padding: 30px 0px 35px 0px;
}
@media (min-width: 992px) {
  .section-new {
    padding: 60px 0px 70px 0px;
  }
}

/*Featured products*/
.section-featured {
  padding: 35px 0px 35px 0px;
}
@media (min-width: 992px) {
  .section-featured {
    padding: 70px 0px 70px 0px;
  }
}

.section-products-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 40px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-link {
  display: inline-block;
  transition: opacity 0.2s ease-in;
}
.product-link :hover {
  opacity: 0.8;
}
.product__title {
  display: inline-block;
  margin-top: 12px;
}
.product__title h4 {
  font-family: "Playfair Display", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}
.product__price {
  margin-top: 12px;
}
.product span {
  line-height: 19px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
}
.product__price-old {
  font-weight: 400;
  color: #999999;
}
.product__price-cur {
  color: #F72464;
  font-weight: 700;
}

/* browse-button*/
.section-button-wrapper {
  text-align: center;
}

.browse-button {
  display: inline-block;
  margin-top: 40px;
  border: 1px solid #F72464;
  width: 229px;
  border-radius: 4px;
  height: 42px;
  text-align: center;
}
.browse-button span {
  display: block;
  color: #777777;
  font-family: "Playfair Display", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 11px 0px;
  text-transform: uppercase;
}

.info-section {
  padding: 32px 0;
  position: relative;
  background: url(./../images/info-blocks/background-1.png);
  background-size: cover;
  background-position: center;
}
@media (min-width: 992px) {
  .info-section {
    text-align: left;
    padding: 68px 0;
  }
}
.info-section__title {
  font-family: "Playfair Display", sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 1.63;
  text-align: center;
  margin-bottom: 25px;
}
@media (min-width: 992px) {
  .info-section__title {
    font-size: 52px;
    text-align: left;
    margin-bottom: 0;
  }
}
.info-section__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
@media (min-width: 992px) {
  .info-section__row {
    flex-direction: row;
  }
}

.info-section::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

/*section-blog posts*/
.section-blog {
  padding: 70px 0px 45px 0px;
}

.posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 45px;
  row-gap: 40px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (min-width: 992px) {
  .posts-wrapper {
    justify-content: center;
    margin-top: 85px;
    margin-bottom: 90px;
  }
}

.post {
  max-width: 570px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 15px;
       column-gap: 15px;
  flex-grow: 1;
  align-items: flex-start;
}
@media (min-width: 400px) {
  .post {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.post__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 370px;
}
.post__image {
  max-width: 100px;
}
@media (min-width: 540px) {
  .post__image {
    max-width: 170px;
  }
}
.post__title {
  margin-bottom: 10px;
  font-family: "Playfair Display", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
.post__text {
  margin: 0 0 10px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #777777;
}
.post__button {
  position: relative;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.post__button::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  margin-left: 2px;
  width: 24px;
  height: 24px;
  background-image: url(./../icons/chevron-right.svg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  transition: margin 0.2s ease-in;
}

.post__button:hover::after {
  margin-left: 10px;
}

.section-subscribe {
  padding: 70px 0px 100px 0px;
}

.subscribe__title {
  margin: 20px auto 0 auto;
  font-family: "Playfair Display", sans-serif;
  font-size: 42px;
  line-height: 56px;
  text-align: center;
}
.subscribe__title h2 {
  color: #000000;
}
.subscribe__description {
  margin: 0 auto;
  max-width: 630px;
  margin-top: 10px;
  color: #999999;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.subscribe-form__input {
  padding-left: 10px;
  padding-right: 10px;
  width: 230px;
  height: 42px;
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid #F72464;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #000000;
}
.subscribe-form__input ::-moz-placeholder {
  color: #777777;
}
.subscribe-form__input ::placeholder {
  color: #777777;
}
.subscribe-form__button {
  width: 134px;
  height: 42px;
  background: #F72464;
  border-radius: 4px;
  line-height: 42px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  transition: box-shadow 0.2s ease-in;
}
.subscribe-form__button:hover {
  box-shadow: 0px 2px 15px rgba(184, 13, 64, 0.671);
  background: #ff3874;
}

.subscribe-form > * + * {
  margin-left: 10px;
}

.footer {
  background-color: #000000;
  padding-top: 30px;
  padding-bottom: 75px;
}
.footer__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__nav {
  margin-bottom: 25px;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
.footer__nav-link {
  color: #FFF;
  transition: color 0.2s ease-in;
  transition: font-size 0.2s ease-in;
}
.footer__socials {
  display: flex;
  align-items: center;
}

.footer__nav > * + * {
  margin-left: 10px;
}

.footer__nav-link:hover {
  font-size: 20px;
  color: #F72464;
}

.footer__socials-link + .footer__socials-link {
  margin-left: 30px;
}

.footer__socials-icon {
  transition: fill 0.2s ease-in;
  fill: #FFF;
}

.footer__socials-icon:hover {
  fill: #F72464;
}

.header,
nav,
.info-section,
.section-new,
.section-featured,
.section-subscribe,
footer {
  display: none;
}